

body {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  font-size:20px;
  background-color: #ccc;
  font-family: 'Roboto', sans-serif;
  margin:0;
}

#rightContainer {
  position: absolute;
  top:15%;
  left:27.75%;
  width:70.75%;
  height: 74.75%;
  overflow: hidden;
}

#leftContainer {
  position: absolute;
  top:16%;
  left:1.5%;
  width:23.75%;
  height: 74%;
  overflow: hidden;
}

#tagline {
  position: absolute;
  width:70.75%;
  height:16%;
  left:27.75%;
  top:0%;
  text-align: center;
}

#logo {
  position: absolute;
  width:23.75%;
  height:16%;
  left:1.5%;
  top:0%;
  text-align: center;
}

#logo img {
  width:60%;
  padding:10%;
}

#background  {
  position: absolute;
  left:0;
  right:0;
  padding:0;
  z-index: -1;
}

#background img {
  width:100%;
  
}

h1 {
  font-size: 3.75vw;
  font-weight: 700;
  color:#8ac007;
  opacity: .7;
  text-transform: uppercase;
  margin-top:40px;
}

/* Ticker Styles */


.tickercontainer { /* the outer div */
  position: absolute;
  width: 100%; 
  height: 8%;
  left:0px;
  bottom:0px;
  margin: 0; 
  padding: 0;
  overflow: hidden; 
}

ul.newsticker { /* that's your list */
  /*Transitions have been added in order set css3 transitions; and have linear easing. Changing these lines you might have unexpected results */
  -webkit-transition: all 0s linear;
  -moz-transition: all 0s linear;
  -o-transition: all 0s linear;
  transition: all 0s linear;
  position: relative;
  margin-left: 20px;

  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 300;
  color:#fff;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.newsticker li {
  float: left; /* important: display inline gives incorrect results when you check for elem's width */
  margin: 0px;
  padding-right: 50px;
  /*background: #fff;*/
  margin-top: 20px;
}

.rows {display: none;}

table {
  font-family: 'Roboto', sans-serif;
  padding:40px;
}
  
tr {
  height:777px;
}
td {
  padding-bottom: 5px;
}

thead {
  display:none;
}
 
td:nth-child(1) {
  display: block;
  clear:both;
  font-size: 60px;
  color:grey;
  font-weight: 100;
  text-transform: uppercase;
}
  
td:nth-child(2) {
  display: block;
  clear:both;
  font-size:30px;
  font-weight: 300;
}
  
td:nth-child(3) {
  display: block;
  clear:both;
  padding-top: 20px;
}
  
td:nth-child(3)::before {
  content: "Location: ";
  font-weight: 500;
  text-transform: uppercase;
  color:#8ac007;
}
  
td:nth-child(4) {
  display: block;
  clear:both;
}
  
td:nth-child(4)::before {
  content: "Wage: ";
  font-weight: 500;
  text-transform: uppercase;
  color:#8ac007;
}
  
td:nth-child(5) {
  display: block;
  clear:both;
}
  
td:nth-child(5)::before {
  content: "Type: ";
  font-weight: 500;
  text-transform: uppercase;
  color:#8ac007;
}
  
td:nth-child(6) {
  display: block;
  clear:both;
}
  
td:nth-child(6)::before {
  content: "Posted: ";
  font-weight: 500;
  text-transform: uppercase;
  color:#8ac007;
}
  
td:nth-child(7) {
  display: block;
  clear:both;
}
  
td:nth-child(7)::before {
  content: "Due Date: ";
  font-weight: 500;
  text-transform: uppercase;
  color:#8ac007;
}
  
td:nth-child(8) {
  display: block;
  clear:both;
}
  
td:nth-child(8)::before {
  content: "Job Summary: ";
  font-weight: 500;
  text-transform: uppercase;
  color:#8ac007;
}
  
td:nth-child(9) {
  display: block;
  clear:both;
}
  
td:nth-child(9)::before {
  content: "Qualifications: ";
  font-weight: 500;
  text-transform: uppercase;
  color:#8ac007;
}
  
td:nth-child(10) {
  display: block;
  clear:both;
}
  
td:nth-child(10)::before {
  content: "Apply: ";
  font-weight: 500;
  text-transform: uppercase;
  color:#8ac007;
}
  
td:nth-child(11) {
  display: block;
  clear:both;
}
  
td:nth-child(11)::before {
  content: "Type: ";
  font-weight: 500;
  text-transform: uppercase;
  color:#8ac007;
}
  
 /*tr:nth-child(1n+2) {
  background-color: green;
}*/
  
  
  /*tr:nth-child(2n+0) {
    background-color: white;

    
  }
  
  tr:nth-child(2n+1) {
    background-color: #eee;

    
  }*/